<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Result</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">
        <div class="card col" style="width:50rem;">
    <h4>Thank You For Attempting The Test The Result Will Be Decleared Soon</h4>
    <h2>It is safe to exit this window</h2>
    </div></div>
    <%- include("./partials/scripts") %> 
</body>
</html>